<modal-base [title]="title" [subTitle]="subTitle">
    <ng-template #modalContent>
        <div class="flex flex-col gap-y-4">
            @if (obrigacao && firstFormGroup) {
            <form [formGroup]="firstFormGroup">
                <div class="flex flex-col gap-y-4">
                    <folder-select
                        class="w-full"
                        [formControlName]="'gedPastaCodigo'"
                        [form]="firstFormGroup"
                        [label]="'Pasta no Ged'"
                        [parameters]="pastasParameters"
                    ></folder-select>

                    <button-default
                        [text]="'Salvar'"
                        [disabled]="!firstFormGroup.dirty || !firstFormGroup.valid"
                        bgClass="btn-blue"
                        (click)="submitFirstFormGroup()"
                    >
                    </button-default>

                    <!-- <button type="button" [disabled]="!firstFormGroup.valid" class="button btn-blue w-full md:w-36" (click)="submitFirstFormGroup()">
                        Salvar
                    </button> -->
                </div>
            </form>
            }
        </div>
    </ng-template>
</modal-base>
