<modal-base [title]="title" [subTitle]="'Nova Obrigação Avulsa'">
    <ng-template #modalContent>
        <div class="flex flex-col gap-y-4">
            @if (firstFormGroup) {
            <form [formGroup]="firstFormGroup" class="flex flex-col flex-wrap gap-x-2 gap-y-4 md:flex-row">
                <obrigacao-select
                    class="w-full"
                    [form]="firstFormGroup"
                    [parameters]="parameters"
                    [formControlName]="'obrigacaoId'"
                    (onChanged)="obrigacaoChanged($event)"
                    [label]="'Obrigação'"
                ></obrigacao-select>
                @if (periodicidade) {

                <!-- #region Mensal -->
                @if (periodicidade != TPeriodicidade.Anual) {
                <input-month-year-ex
                    class="w-full md:w-5/12"
                    [formControlName]="'competenciaMesInicial'"
                    [form]="firstFormGroup"
                    [label]="'Competência Inicial'"
                ></input-month-year-ex>
                }
                <!-- #endregion -->

                <!-- #region Anual -->
                @if (periodicidade == TPeriodicidade.Anual) {
                <input-year-ex
                    class="w-full md:w-5/12"
                    [formControlName]="'competenciaAnoInicial'"
                    [form]="firstFormGroup"
                    [label]="'Competência Inicial'"
                ></input-year-ex>
                }
                <!-- #endregion -->
                }

                <input-textarea-ex
                    class="w-full"
                    [form]="firstFormGroup"
                    [placeholderText]="'Comentário opcional'"
                    formControlName="comentario"
                    [label]="'Comentário'"
                ></input-textarea-ex>

                <button type="button" [disabled]="!firstFormGroup.valid" class="button btn-blue w-full text-white md:w-36" (click)="submit()">Salvar</button>
            </form>
            }
        </div>
    </ng-template>
</modal-base>
