@if (datas) {
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="tabela">
        <thead>
            <tr>
                <td>Perfil</td>
                <td class="hidden md:table-cell">Clientes</td>
                <td class="hidden md:table-cell">Obrigações</td>
            </tr>
        </thead>
        <tbody>
            @for (item of datas; track item; let i = $index) {
            <tr>
                <td>
                    <avatar-title class="cursor-pointer" [title]="item.descricao" (click)="perfilObrigacoesModal(item.perfilItemId!)" [rounded]="true">
                    </avatar-title>
                </td>
                <td class="hidden md:table-cell">
                    <span>{{item.obrigacoesStat?.clientesCount ?? '-'}}</span>
                </td>
                <td class="hidden md:table-cell">
                    <span>{{item.obrigacoesStat?.total ?? '-'}}</span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
