<div
    class="flex relative h-full w-full flex-col items-center justify-center gap-1"
    [style.width]="size"
    [style.height]="size"
    [class]="bgColor"
    [ngClass]="{'rounded-md': rounded && !circle, 'rounded-full': circle}"
>
    <span class="text-center" _ngClass="{'pt-1.5': subText != undefined}" [ngStyle]="{'font-size': fontSize}" [class]="textColorClass">{{text}}</span>
    @if (subText) {
    <span class="text-center text-xs" [class]="textColorClass">{{subText}}</span>
    }

    <!-- Badge -->
    @if (badge !== 'none') { @switch (badge) { @case ('check') {
    <div
        class="absolute flex items-center justify-center rounded-full text-white border-2 border-white shadow dark:border-zinc-900 bg-green-600"
        [style.width.px]="badgeSize"
        [style.height.px]="badgeSize"
        style="right: -5px; bottom: 0px"
    >
        <svg viewBox="0 0 24 24" class="w-3/5 h-3/5" aria-hidden="true" focusable="false">
            <path d="M20.285 6.708a1 1 0 0 0-1.57-1.236l-8.04 9.01-3.2-3.2a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l8.81-9.0z" fill="currentColor" />
        </svg>
    </div>
    } @case ('warning') {
    <div
        class="absolute flex items-center justify-center rounded-full text-white border-2 border-white dark:border-zinc-900 shadow bg-yellow-500"
        [style.width.px]="badgeSize"
        [style.height.px]="badgeSize"
        style="right: -5px; bottom: 0px"
    >
        <span class="text-xs font-bold">!</span>
    </div>
    } @case ('custom') {
    <div
        class="absolute flex items-center justify-center rounded-full text-white border-2 border-white dark:border-zinc-900 shadow"
        [ngClass]="badgeCustomClass || 'text-green-500'"
        [style.width.px]="badgeSize"
        [style.height.px]="badgeSize"
        style="right: -5px; bottom: 0px"
    >
        <span class="text-xs font-bold">{{ badgeCustom || '!' }}</span>
    </div>
    } } }
</div>
