<button-selection class="mb-4 inline-block" [labels]="['Impostos', 'Obrigações Acessórias', 'Relatórios']" [values]="[TObrigacaoTipo.Imposto, TObrigacaoTipo.Acessoria, TObrigacaoTipo.Relatorio]" [value]="obrigacaoTipo" (buttonClicked)="tipoClicked($event)"></button-selection>

<!--<div class="mb-4 flex items-center gap-4">
    <button type="button" class="button bg-zinc-800">
        Impostos
    </button>
    <button type="button" class="button bg-zinc-800">
        Obrigações Acessórias
    </button>
    <button type="button" class="button bg-blue-800 text-white">
        Relatórios
    </button>
</div>-->

<month-select class="mb-4 block" (monthSelected)="monthSelected($event)"></month-select>

<!--<nz-tabset [nzSelectedIndex]="tabIndex">
    <nz-tab nzTitle="Impostos">
        <ng-template nz-tab>
            <month-select class="mb-4 block" (monthSelected)="monthSelected($event)"></month-select>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Obrigações Acessórias">
        <ng-template nz-tab>
            <month-select class="mb-4 block" (monthSelected)="monthSelected($event)"></month-select>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Relatórios">
        <ng-template nz-tab>
            <month-select class="mb-4 block" (monthSelected)="monthSelected($event)"></month-select>
        </ng-template>
    </nz-tab>
</nz-tabset>-->

<div infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <div>
        <obrigacao-item *ngFor="let item of datas" [obrigacao]="item" [obrigacaoClientePeriodoPor]="TObrigacaoClientePeriodoPor.PorUser"></obrigacao-item>
    </div>
</div>

<!--<ng-container *ngIf="clienteObrigacoes">
    <ng-container *ngIf="clienteObrigacoes.obrigacoesImpostos.length > 0">
        <ng-template *ngTemplateOutlet="obrigacoes; context: {$implicit: { obrs: clienteObrigacoes.obrigacoesImpostos, tipoDescricao: 'Impostos' }}"></ng-template>
    </ng-container>
    <ng-container *ngIf="clienteObrigacoes.obrigacoesAcessorias.length > 0">
        <ng-template *ngTemplateOutlet="obrigacoes; context: {$implicit: { obrs: clienteObrigacoes.obrigacoesAcessorias, tipoDescricao: 'Acessorias' }}"></ng-template>
    </ng-container>
    <ng-container *ngIf="clienteObrigacoes.obrigacoesRelatorios.length > 0">
        <ng-template *ngTemplateOutlet="obrigacoes; context: {$implicit: { obrs: clienteObrigacoes.obrigacoesRelatorios, tipoDescricao: 'Relatorios' }}"></ng-template>
    </ng-container>

    <ng-template #obrigacoes let-obrigacoesdata>
        <obrigacao-item *ngFor="let item of obrigacoesdata.obrs" [obrigacao]="item" [obrigacaoClientePeriodoPor]="TObrigacaoClientePeriodoPor.PorCliente"></obrigacao-item>
    </ng-template>
</ng-container>-->
