<div [formGroup]="form">
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecione o usuário" class="block" [formControlName]="formControlName">
        @for(data of datas; track data) {
        <nz-option nzCustomContent [nzLabel]="data.userNome" [nzValue]="data.id">
            <div class="flex">
                <span class="grow">{{data.userNome}}</span>
                @for(departamento of data.departamentos; track departamento) {
                <span class="tag" [class]="obrigacoesUtilsService.getDepartamentoColor()">{{departamento.departamentoNome.substring(0, 1)}}</span>
                }
            </div>
        </nz-option>
        }
    </nz-select>
</div>
