<modal-base [title]="'Conclusão de Obrigação'" [subTitle]="obrigacaoClientePeriodo.obrigacaoDescricao" *ngIf="obrigacaoClientePeriodo">
    <ng-template #modalContent>
        <div class="flex flex-col gap-y-4">
            <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup" class="flex flex-col flex-wrap gap-x-2 gap-y-4 md:flex-row">
                <label-text class="w-full" [label]="'Empresa'" [text]="obrigacaoClientePeriodo.clienteNome"></label-text>
                <label-text class="w-full" [label]="'Obrigação'" [text]="obrigacaoClientePeriodo.obrigacaoDescricao"> </label-text>
                <label-text
                    class="w-full"
                    [label]="'Competência'"
                    [text]="obrigacaoClientePeriodo.competenciaAno ?? obrigacaoClientePeriodo.competenciaMesFormat"
                ></label-text>

                <input-file [label]="'Envio de Arquivos'" class="w-full" (onFileSelected)="fileSelected($event)"></input-file>
                <input-textarea-ex class="w-full" [form]="firstFormGroup" formControlName="comentario" [label]="'Comentário opcional'"></input-textarea-ex>

                @if (!firstFormGroup.get('gedPastaCodigo')?.value) {
                <alert
                    class="cursor-pointer"
                    (click)="obrigacaoConfiguracaoModal()"
                    [iconBig]="true"
                    [description]="'Pasta no GED não definida. Para enviar um arquivo é necessário definir uma pasta de destino.'"
                    [description2]="'Clique aqui para definir uma pasta'"
                    [type]="AlertType.Error"
                ></alert>
                }

                <button-default [text]="'Concluir'" [disabled]="!firstFormGroup.valid" (click)="submit()" [bgClass]="'btn-blue'"></button-default>
            </form>
        </div>
    </ng-template>
</modal-base>
