<modal-base [title]="'Conclusão de Obrigação'" [subTitle]="obrigacaoClientePeriodo.obrigacaoDescricao" *ngIf="obrigacaoClientePeriodo">
    <ng-template #modalContent>
        <div class="flex flex-col gap-y-4">
            <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup" class="flex flex-col flex-wrap gap-x-2 gap-y-4 md:flex-row">
                <label-ex class="w-full" [label]="'Empresa'" [text]="obrigacaoClientePeriodo.clienteNome"></label-ex>
                <label-ex *ngIf="obrigacaoClientePeriodo.vencimento" [label]="'Vencimento'" text="{{obrigacaoClientePeriodo.vencimento | date: 'dd/MM/yyyy'}}">
                    <ng-template #infoContent>
                        <div class="flex gap-1" [ngClass]="{'text-danger' : obrigacaoClientePeriodo.vencido}">
                            <ng-icon [name]="'iconoirWarningCircle'" class="text-lg"></ng-icon> {{obrigacaoClientePeriodo.vencimentoDescricao}}
                        </div>
                    </ng-template>
                </label-ex>
                <label-ex [label]="'Prazo'" text="{{obrigacaoClientePeriodo.prazo | date: 'dd/MM/yyyy'}}">
                    <ng-template #infoContent>
                        <div class="flex gap-1" [ngClass]="{'text-danger' : obrigacaoClientePeriodo.prazoVencido}">
                            <ng-icon [name]="'iconoirWarningCircle'" class="text-lg"></ng-icon> {{obrigacaoClientePeriodo.prazoDescricao}}
                        </div>
                    </ng-template>
                </label-ex>

                <input-file [label]="'Envio de Arquivos'" class="w-full" (onFileSelected)="fileSelected($event)"></input-file>
                <input-textarea-ex class="w-full" [form]="firstFormGroup" formControlName="comentario" [label]="'Comentário opcional'"></input-textarea-ex>

                <div *ngIf="!firstFormGroup.get('gedPastaCodigo')?.value">
                    <alert [description]="'Pasta no GED não definida. Para enviar um arquivo é necessário definir uma pasta de destino'"></alert>
                </div>

                <button type="button" [disabled]="!firstFormGroup.valid" class="button btn-primary w-full text-white md:w-36" (click)="submit()">
                    Concluir
                </button>
            </form>
        </div>
    </ng-template>
</modal-base>
