<widget
    [title]="'Obrigações Entregues'"
    [subTitle]="'Geral'"
    [icon]="'ionCheckmarkSharp'"
    [iconBgColorClass]="'bg-blue-100 dark:bg-blue-800/70'"
    [iconColorClass]="'text-blue-500 dark:text-blue-200'"
>
    @if (widget) {
    <ng-template #content>
        <div class="flex flex-col gap-2">
            <div>
                <div>Concluídas</div>
                <div>
                    <percentage-bar
                        [percentage]="widget.obrigacoesStat.concluidoPorcento"
                        [total]="widget.obrigacoesStat.total"
                        [done]="widget.obrigacoesStat.concluidas"
                        [showPercentage]="true"
                    ></percentage-bar>
                </div>
            </div>
            <div>
                <div>No Prazo</div>
                <div>
                    <percentage-bar
                        [percentage]="widget.obrigacoesStat.concluidoNoPrazoPorcento"
                        [total]="widget.obrigacoesStat.concluidas"
                        [done]="widget.obrigacoesStat.concluidasNoPrazo"
                        [showPercentage]="true"
                    ></percentage-bar>
                </div>
            </div>
            <div>
                <div>Obrigações Atrasadas</div>
                <div class="text-danger">{{widget.obrigacoesStat.emAtraso}}</div>
            </div>
            <div class="flex justify-center gap-4 mt-7">
                @for (departamento of widget.departamentos; track departamento) {
                <radial-progress [progress]="departamento.obrigacoesStat.concluidoPorcento" [label]="departamento.departamentoNome"></radial-progress>
                }
            </div>
        </div>
    </ng-template>
    }
</widget>
