<div class="z-40 shadow-sm" [ngClass]="{ 'dark text-white-dark': store.semidark && store.menu === 'horizontal'}">
  <div class="relative flex w-full items-center bg-white px-2 py-2.5 md:px-5 dark:bg-[#0f0f0f]">
    <div class="horizontal-logo mr-4 flex items-center justify-between lg:hidden">
      <a class="collapse-icon bg-white-light/40 flex flex-none rounded-full p-2 hover:bg-white-light/90 hover:text-primary lg:hidden dark:bg-dark/40 dark:text-[#d0d2d6] dark:hover:bg-dark/60 dark:hover:text-primary"
        (click)="storeData.dispatch({type: 'toggleSidebar'})">
        <ng-icon [name]="'iconoirMenu'" class="text-lg"></ng-icon>
      </a>
      <a routerLink="/" class="main-logo flex shrink-0 items-center">
        <div class="ml-1.5 align-middle lg:inline">
          <file-server-site-logotipo src="deskspace-logo.png" class="block w-[30px] md:hidden"></file-server-site-logotipo>
          <file-server-site-logotipo src="deskspace-ponto.png" class="hidden w-[120px] md:block" [auto]="true"></file-server-site-logotipo>
        </div>
      </a>
    </div>
    <div class="ml-auto flex items-center space-x-1.5 sm:ml-0 sm:flex-1 lg:space-x-2 dark:text-[#d0d2d6]">
      <div class="grow">
        <app-search></app-search>
      </div>
      @if (menuTemplate$ | async; as menu) {
        <ng-container *ngTemplateOutlet="menu"></ng-container>
      }

      <button type="button" class="bg-white-light/40 block rounded-full p-2 hover:bg-white-light/90 hover:text-primary dark:bg-dark/40 dark:hover:bg-dark/60" (click)="openWidgetConfig()">
        <ng-icon [name]="'bootstrapLayoutWtf'" class="!block text-xl"></ng-icon>
      </button>

      <!--<calendario-header></calendario-header>-->
      <!--<solicitacoes-header></solicitacoes-header>-->
      <activities-header></activities-header>
      <div>
        @if (store.theme === 'light') {
          <a
            class="bg-white-light/40 flex items-center rounded-full p-2 hover:bg-white-light/90 hover:text-primary dark:bg-dark/40 dark:hover:bg-dark/60"
            (click)="storeData.dispatch({type: 'toggleTheme', payload:'dark'}); $event.stopPropagation()">
            <ng-icon [name]="'iconoirSunLight'" class="!block text-xl"></ng-icon>
          </a>
        }
        @if (store.theme === 'dark') {
          <a
            class="bg-white-light/40 flex items-center rounded-full p-2 hover:bg-white-light/90 hover:text-primary dark:bg-dark/40 dark:hover:bg-dark/60"
            (click)="storeData.dispatch({type: 'toggleTheme', payload:'system'}); $event.stopPropagation()">
            <ng-icon [name]="'iconoirHalfMoon'" class="!block text-xl"></ng-icon>
          </a>
        }
        @if (store.theme === 'system') {
          <a
            class="bg-white-light/40 flex items-center rounded-full p-2 hover:bg-white-light/90 hover:text-primary dark:bg-dark/40 dark:hover:bg-dark/60"
            (click)="storeData.dispatch({type: 'toggleTheme', payload:'light'}); $event.stopPropagation()">
            <ng-icon [name]="'ionPartlySunnyOutline'" class="!block text-xl"></ng-icon>
          </a>
        }
      </div>

      <avatar-image [userId]="vars.user?.id!" [circle]="true" [size]="'2.2rem'" [iconClass]="'text-base'" (click)="openProfileModal()" class="cursor-pointer" />
    </div>
  </div>
</div>
