@if (this.vars.dataFinal) {
<div class="content-site">
    <div class="flex flex-col gap-4">
        <div class="w-full">
            <user-welcome></user-welcome>
        </div>
        <div class="flex flex-col gap-4 pb-4 md:flex-row">
            <periodo-widget></periodo-widget>
            <clientes-count-widget></clientes-count-widget>
            <usuarios-count-widget></usuarios-count-widget>
            <arquivos-disponibilizados-widget></arquivos-disponibilizados-widget>
        </div>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 4xl:grid-cols-6">
            @if (getDashboardWidget(TDashboardWidget.ObrigacoesEntregues)) {
            <obrigacoes-entregues-geral-widget></obrigacoes-entregues-geral-widget>
            } @if (getDashboardWidget(TDashboardWidget.ProximosImpostos)) {
            <proximos-impostos-widget></proximos-impostos-widget>
            } @if (getDashboardWidget(TDashboardWidget.ClientesObrigacoesAtrasadas)) {
            <obrigacoes-atrasadas-clientes-widget></obrigacoes-atrasadas-clientes-widget>
            } @if (getDashboardWidget(TDashboardWidget.ObrigacoesAtrasadas)) {
            <obrigacoes-atrasadas-obrigacoes-widget></obrigacoes-atrasadas-obrigacoes-widget>
            } @if (getDashboardWidget(TDashboardWidget.ObrigacoesNoPrazoFiscal)) {
            <departamento-widget [setor]="TSetor.Fiscal"></departamento-widget>
            } @if (getDashboardWidget(TDashboardWidget.ObrigacoesNoPrazoContabil)) {
            <departamento-widget [setor]="TSetor.Contabil"></departamento-widget>
            } @if (getDashboardWidget(TDashboardWidget.ObrigacoesNoPrazoPessoal)) {
            <departamento-widget [setor]="TSetor.Pessoal"></departamento-widget>
            }
        </div>
    </div>
</div>
}
