<widget
    [title]="'Próximos Impostos'"
    [subTitle]="subTitle"
    [icon]="'ionCalendarOutline'"
    [iconBgColorClass]="'bg-green-200 dark:bg-green-800/70'"
    [iconColorClass]="'text-green-500 dark:text-green-200'"
>
    @if (widget) {
    <ng-template #content>
        <div class="mb-6 flex justify-between">
            @for (data of widget.datas; track data; let i = $index) {
            <div class="cursor-pointer text-center">
                <div class="text-sm text-gray-500">{{ getWeekDayName(data.data) }}</div>
                <div
                    class="mx-auto mt-1 flex h-8 w-8 items-center justify-center rounded-full border transition-colors"
                    [ngClass]="{'bg-blue-600 border-blue-600 text-white': isSelected(i), 'border-gray-600 dark:border-gray-400 text-gray-800 dark:text-gray-400 hover:bg-gray-200': !isSelected(i)}"
                >
                    {{ getDay(data.data) }}
                </div>
            </div>
            }
        </div>

        <div class="flex flex-col gap-3">
            @for (data of widget.datas; track data) { @if (data.obrigacoes.length > 0) {
            <div class="flex flex-col gap-1">
                <div><h6 class="font-semibold">{{ getDay(data.data) | padNumber:2 }} {{ getWeekDayName(data.data).toUpperCase() }}</h6></div>
                @for (obrigacao of data.obrigacoes; track obrigacao) {
                <div
                    class="flex gap-2 cursor-pointer"
                    [routerLink]="['/sistema/obrigacoes/obrigacaoobrigacoes', encryptionService.encrypt(obrigacao.obrigacaoId)]"
                >
                    <span class="grow">{{obrigacao.obrigacaoNome}}</span
                    ><percentage-bar
                        [total]="obrigacao.obrigacoesStat.total"
                        [done]="obrigacao.obrigacoesStat.concluidas"
                        [showPercentage]="false"
                        class="w-32"
                    ></percentage-bar>
                </div>
                }
            </div>
            } }
        </div>
    </ng-template>
    }
</widget>
