<!-- Cliente -->
@if (tipo != TObrigacaoClientePeriodoPor.PorCliente) {
<td>
    <div class="flex items-center gap-3">{{obrigacao.clienteNomeFormat}}</div>
</td>
}

<!-- Obrigação -->
@if (tipo != TObrigacaoClientePeriodoPor.PorObrigacao) {
<td>
    <div class="flex items-center gap-3">{{obrigacao.obrigacaoDescricao}}</div>
</td>
}

<!-- Vencimento -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">{{obrigacao.vencimento}}</div>
</td>

<!-- Competência -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">{{obrigacao.competenciaMes ?? obrigacao.competenciaAno}}</div>
</td>

<!-- Prazo -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">{{obrigacao.prazo}}</div>
</td>

<!-- Comments -->
<td class="hidden md:table-cell">
    <span>{{ obrigacao.postInfo?.count }}</span>
</td>
