<!-- Cliente -->
@if (tipo != TObrigacaoClientePeriodoPor.PorCliente) {
<td>
    <div class="flex items-center gap-3">
        <ng-container [ngTemplateOutlet]="statusTemplate"></ng-container>

        {{obrigacao.clienteNomeFormat}}
    </div>
</td>
}

<!-- Obrigação -->
@if (tipo != TObrigacaoClientePeriodoPor.PorObrigacao) {
<td>
    <div class="flex items-center gap-3">
        <ng-container [ngTemplateOutlet]="statusTemplate"></ng-container>

        {{obrigacao.obrigacaoDescricao}}
    </div>
</td>
}

<td class="hidden md:table-cell">
    <avatar-image-group
        class="flex-wrap"
        [usersId]="getUsuariosId(obrigacao.users)"
        [nomes]="getUsuariosNome(obrigacao.users)"
        [departamentos]="getDepartamentosNome(obrigacao.users)"
        [size]="'2.2rem'"
        [showEmptyIcon]="true"
        [emptyIconTooltip]="'Nenhum colaborador'"
        [overlap]="true"
    ></avatar-image-group>
</td>
<!-- Vencimento -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">{{obrigacao.vencimento | dateFriendly}}</div>
</td>

<!-- Competência -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">
        @if (obrigacao.competenciaMes) {
        <span>{{obrigacao.competenciaMes | monthYear}}</span>
        } @if (obrigacao.competenciaAno) {
        <span>obrigacao.competenciaAno</span>
        }
    </div>
</td>

<!-- Prazo -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">{{obrigacao.prazo | dateFriendly}}</div>
</td>

<!-- Comments -->
<td class="hidden md:table-cell">
    <span>{{ obrigacao.postInfo?.count }}</span>
</td>

<ng-template #statusTemplate>
    <!-- #region No Prazo -->
    @if (obrigacao.status == TObrigacaoStatus.ConcluidoNoPrazo) {
    <avatar-icon
        [icon]="'ionCheckmarkDone'"
        [tooltip]="'Concluído no prazo'"
        [size]="'2.2rem'"
        [iconColor]="'dark:text-white/80 text-black/80'"
        [bgColor]="'bg-green-200 dark:bg-green-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Concluido Fora do Prazo -->
    @if (obrigacao.status == TObrigacaoStatus.ConcluidoForadoPrazo) {
    <avatar-icon
        [icon]="'ionCheckmarkSharp'"
        [tooltip]="'Concluído fora do prazo'"
        [size]="'2.2rem'"
        [iconColor]="'dark:text-white/80 text-black/80'"
        [bgColor]="'bg-green-200 dark:bg-green-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Em Aberto  -->
    @if (obrigacao.status == TObrigacaoStatus.EmAberto && !obrigacao.prazoVencido) {
    <avatar-icon [icon]="'ionPause'" [tooltip]="'Em Aberto'" [size]="'2.2rem'" [bgColor]="'bg-zinc-200 dark:bg-zinc-800'"></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Vencido -->
    @if (obrigacao.status == TObrigacaoStatus.EmAberto && obrigacao.prazoVencido) {
    <avatar-icon
        [icon]="'bootstrapExclamationLg'"
        [tooltip]="'Atrasado'"
        [size]="'2.2rem'"
        [iconColor]="'dark:text-white/80 text-black/80'"
        [bgColor]="'bg-red-200 dark:bg-red-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->
</ng-template>
