<!-- Cliente -->
@if (tipo != TObrigacaoClientePeriodoPor.PorCliente) {
<td>
    <div class="flex items-center gap-3">
        <ng-container [ngTemplateOutlet]="statusTemplate"></ng-container>

        {{obrigacao.clienteNomeFormat}}
    </div>
</td>
}

<!-- Obrigação -->
@if (tipo != TObrigacaoClientePeriodoPor.PorObrigacao) {
<td>
    <div class="flex items-center gap-3">
        <ng-container [ngTemplateOutlet]="statusTemplate"></ng-container>

        {{obrigacao.obrigacaoDescricao}}
    </div>
</td>
}

<!-- Vencimento -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">{{obrigacao.vencimento}}</div>
</td>

<!-- Competência -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">{{obrigacao.competenciaMes ?? obrigacao.competenciaAno}}</div>
</td>

<!-- Prazo -->
<td class="hidden md:table-cell">
    <div class="flex gap-2 items-center">{{obrigacao.prazo}}</div>
</td>

<!-- Comments -->
<td class="hidden md:table-cell">
    <span>{{ obrigacao.postInfo?.count }}</span>
</td>

<ng-template #statusTemplate>
    <!-- #region No Prazo -->
    @if (obrigacao.status == TObrigacaoStatus.ConcluidoNoPrazo) {
    <avatar-icon
        [icon]="'ionCheckmarkDone'"
        [tooltip]="'Concluído no prazo'"
        [size]="'2.2rem'"
        [iconColor]="'text-green-500 dark:text-green-300'"
        [bgColor]="'bg-green-200 dark:bg-green-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Concluido Fora do Prazo -->
    @if (obrigacao.status == TObrigacaoStatus.ConcluidoForadoPrazo) {
    <avatar-icon
        [icon]="'ionCheckmarkSharp'"
        [tooltip]="'Concluído fora do prazo'"
        [size]="'2.2rem'"
        [iconColor]="'text-green-500 dark:text-green-300'"
        [bgColor]="'bg-green-200 dark:bg-green-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Em Aberto  -->
    @if (obrigacao.status == TObrigacaoStatus.EmAberto && !obrigacao.prazoVencido) {
    <avatar-icon [icon]="'bootstrapStop'" [tooltip]="'Em Aberto'" [size]="'2.2rem'" [bgColor]="'bg-zinc-200 dark:bg-zinc-800'"></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Vencido -->
    @if (obrigacao.status == TObrigacaoStatus.EmAberto && obrigacao.prazoVencido) {
    <avatar-icon
        [icon]="'bootstrapExclamationLg'"
        [tooltip]="'Atrasado'"
        [size]="'2.2rem'"
        [iconColor]="'text-red-500 dark:text-red-300'"
        [bgColor]="'bg-red-200 dark:bg-red-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->
</ng-template>
