<div class="mb-7 flex gap-4">
    @if (perfilItemId) {
    <button-default [bgClass]="'btn-blue'" (click)="perfilObrigacaoAssociarModal()" [text]="'Associar Obrigação'"></button-default>
    } @if (!perfilItemId) { @if (parameters?.tipo == undefined || parameters?.tipo! == TObrigacaoTipo.Imposto) {
    <button-default [bgClass]="'btn-blue'" (click)="obrigacaoNovoModal(TObrigacaoTipo.Imposto)" [text]="'Novo Imposto'"></button-default>
    } @if (parameters?.tipo == undefined || parameters?.tipo! == TObrigacaoTipo.Acessoria) {
    <button-default [bgClass]="'btn-blue'" (click)="obrigacaoNovoModal(TObrigacaoTipo.Acessoria)" [text]="'Nova Obrigação Acessória'"></button-default>
    } @if (parameters?.tipo == undefined || parameters?.tipo! == TObrigacaoTipo.Relatorio) {
    <button-default [bgClass]="'btn-blue'" (click)="obrigacaoNovoModal(TObrigacaoTipo.Relatorio)" [text]="'Novo Relatório'"></button-default>
    } }

    <!--<dropdown-radio [items]="obrigacaoTipos" (valueChanged)="obrigacaoTipoChanged($event)" [label]="'Filtro por Tipo'" [btnClass]="'btn-blue'"></dropdown-radio>-->
    <!-- <dropdown-radio [items]="setores" (valueChanged)="setorChanged($event)" [label]="'Filtro por Setor'" [btnClass]="'btn-gray'"></dropdown-radio> -->
</div>

<!-- @if (loading && param.pg <= 1) {
<nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 20 }"></nz-skeleton>
}  -->
<!-- @else  -->
<!-- {  -->
<!-- @if (!loading) { 
    @if (datas && datas.length == 0) {
<no-data-panel [title]="'Nenuma obrigação'"></no-data-panel>
} 
@else {
 -->
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="tabela">
        <thead>
            <tr>
                <th>Obrigação</th>
                <th>Departamento</th>
                <th>Vencimento</th>
            </tr>
        </thead>
        <tbody>
            @for (item of datas; track item) {
            <tr class="cursor-pointer" [routerLink]="['/sistema/obrigacoes/obrigacao', encryptionService.encrypt(item.id)]">
                <td class="whitespace-nowrap">
                    <avatar-title [title]="item.descricao" [subTitle]="item.gedPastaNome" [subTitleIcon]="'ionFolderOpenSharp'"></avatar-title>
                </td>
                <td>{{item.departamentoNome}}</td>
                <td>
                    <div class="flex gap-3 items-center">
                        <span class="tag tag-red w-10 flex justify-center">{{item.vencimentoPrazoDia.vencimentoDia ?? item.vencimentoPrazoDia.prazoDia}}</span
                        ><span>{{item.periodicidadeDescricao}} {{item.anualMesDescricao}}</span>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<!-- } } -->
<!-- } -->
