<div class="mb-7 flex gap-4">
    @if (perfilItemId) {
    <button type="button" class="button btn-gray" (click)="perfilObrigacaoAssociarModal()">Associar Obrigação</button>
    } @if (!perfilItemId) { @if (parameters?.tipo == undefined || parameters?.tipo! == TObrigacaoTipo.Imposto) {
    <button type="button" class="button btn-gray" (click)="obrigacaoNovoModal(TObrigacaoTipo.Imposto)">Novo Imposto</button>
    } @if (parameters?.tipo == undefined || parameters?.tipo! == TObrigacaoTipo.Acessoria) {
    <button type="button" class="button btn-gray" (click)="obrigacaoNovoModal(TObrigacaoTipo.Acessoria)">Nova Obrigação Acessória</button>
    } @if (parameters?.tipo == undefined || parameters?.tipo! == TObrigacaoTipo.Relatorio) {
    <button type="button" class="button btn-gray" (click)="obrigacaoNovoModal(TObrigacaoTipo.Relatorio)">Novo Relatório</button>
    } }

    <!--<dropdown-radio [items]="obrigacaoTipos" (valueChanged)="obrigacaoTipoChanged($event)" [label]="'Filtro por Tipo'" [btnClass]="'btn-primary'"></dropdown-radio>-->
    <dropdown-radio [items]="setores" (valueChanged)="setorChanged($event)" [label]="'Filtro por Setor'" [btnClass]="'btn-gray'"></dropdown-radio>
</div>

<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <div class="table-responsive w-full">
        <table>
            <thead>
                <tr>
                    <th>Obrigação</th>
                    <th>Tipo</th>
                    <th>Esfera</th>
                    <th>Setor</th>
                    <th>Próx Vencto</th>
                    <th>Próx Prazo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (item of datas; track item) {
                <tr class="cursor-pointer" [routerLink]="['/sistema/funcionarios/funcionario', encryptionService.encrypt(item.id)]">
                    <td class="whitespace-nowrap">{{item.descricao}}</td>
                    <td>{{item.tipoDescricao}}</td>
                    <td>{{item.esferaDescricao}}</td>
                    <td>{{item.departamentoNome}}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
