<!-- <div class="relative mb-4">
    <input
        type="text"
        [(ngModel)]="query"
        name="query"
        [placeholder]="'Pesquisar pasta'"
        class="form-input w-full rounded-none bg-gray-100 px-9 sm:bg-transparent sm:pr-4"
        disableautocomplete
    />
    <button type="button" class="absolute inset-0 h-9 w-9 appearance-none ltr:right-auto rtl:left-auto peer-focus:text-primary">
        <ng-icon [name]="'iconoirSearch'" [ngClass]="'mx-auto text-[17px] relative top-[3px] text-black/50 dark:text-white/50'"></ng-icon>
    </button>
</div> -->

@if (datas) {
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="tabela">
        <thead>
            <tr>
                <td>Pasta ou Arquivo</td>
                <td>Tipo do Arquivo</td>
                <td>Data</td>
                <td>Competência</td>
                <td>Tamanho</td>
            </tr>
        </thead>
        <tbody>
            @for (item of datas; track item; let i = $index) { @if (item.pasta) {
            <tr
                [ngClass]="{'cursor-pointer': item.pasta && !item.pasta.openFolder}"
                (click)="item.pasta && !item.pasta.openFolder ? pastaClick(item.pasta) : null"
            >
                <td colspan="5">
                    <div class="flex gap-3 items-center" [style.padding-left]="((item.pasta.nivel) * 20).toString() + 'px'">
                        <file-server-image
                            [src]="item.pasta.openFolder ? '/images/icons/folder_opened_128.png' : '/images/icons/folder_closed_128.png'"
                            [width]="32"
                            class="cursor-pointer"
                        ></file-server-image>
                        <div>
                            <div class="font-semibold">{{item.pasta.nome}}</div>
                            @if (item.pasta.pastasCount) {
                            <div class="text-muted text-xs">{{item.pasta.pastasCount | singularPlural : '1 pasta' : 'pastas': ''}}</div>
                            }
                        </div>
                    </div>
                </td>
            </tr>
            } @else {
            <tr class="cursor-pointer" (click)="fileOpen(item.arquivo)">
                <td>
                    <div class="flex gap-3 items-center" [style.padding-left]="((item.arquivo.nivel ?? 0) * 20).toString() + 'px'">
                        <file-server-image [src]="'/images/icons/file_pdf_128.png'" [width]="32" class="cursor-pointer"></file-server-image>
                        <div>
                            <div class="font-semibold">{{item.arquivo.nome}}</div>
                            <div class="text-muted text-xs">
                                @if (item.arquivo.apontamentoData) {
                                <span> Apontamento de {{item.arquivo.apontamentoData | date:'dd/MM/yyyy'}} </span>
                                }
                            </div>
                        </div>
                    </div>
                </td>
                <td>@if (item.arquivo) { {{item.arquivo.fileTypeDescricao}} }</td>
                <td>@if (item.arquivo) { {{item.arquivo.dataHora | date:'dd/MM/yyyy HH:mm'}} }</td>
                <td>@if (item.arquivo) { {{item.arquivo.competenciaMesFormat ?? item.arquivo.competenciaAno}} }</td>
                <td>@if (item.arquivo) { {{item.arquivo.tamanho | formatBytes}} }</td>
            </tr>
            } }
        </tbody>
    </table>
</div>
}
