<modal-base [title]="'Novo Usuário'">
    <ng-template #modalContent>
        <div class="flex flex-col gap-y-4">
            @if (firstFormGroup) {
            <form [formGroup]="firstFormGroup" class="flex flex-col flex-wrap gap-x-2 gap-y-4 md:flex-row">
                <div class="flex w-full flex-col gap-4">
                    <input-ex [formControlName]="'nome'" class="w-full" [form]="firstFormGroup" [label]="'Nome'"></input-ex>
                    <input-ex [formControlName]="'email'" class="w-full" [form]="firstFormGroup" [label]="'E-mail'"></input-ex>

                    <button-default [text]="'Salvar'" [disabled]="!firstFormGroup.valid" (click)="submit()" [bgClass]="'btn-blue'"></button-default>
                </div>
            </form>
            }
        </div>
    </ng-template>
</modal-base>
