<button
    type="button"
    class="button"
    [class]="bgClass ?? 'btn-gray'"
    [ngClass]="{
        'btn-xs': size == 'xs',
        'btn-lg': size == 'lg',
        '!rounded-full': circle,
        '!rounded-lg': rounded,
        '!border-none': !border
    }"
    [disabled]="disabled"
    [tippyProps]="tippyProps"
    [ngxTippy]="tooltip"
>
    <div class="flex gap-2 items-center px-1">
        <!-- ICON LEFT (default) -->
        @if (icon && iconPosition === 'left') {
        <ng-icon [name]="icon" class="text-lg"></ng-icon>
        }

        <!-- TEXT -->
        @if (text) {
        <span>{{ text }}</span>
        }

        <!-- ICON RIGHT -->
        @if (icon && iconPosition === 'right') {
        <ng-icon [name]="icon" class="text-lg"></ng-icon>
        }

        <!-- OPTIONAL ARROW -->
        @if (showArrow) {
        <ng-icon [name]="'iconoirFastArrowRight'" class="text-lg"></ng-icon>
        }
    </div>
</button>
