<!--<widget [alignVertical]="true">
    <ng-template #content *ngIf="datas">
        <div class="flex">
            <div class="flex grow items-center gap-4">
                <div>
                    <avatar-icon [icon]="'ionCalendarOutline'" size="4rem" [iconCss]="'text-xl'"></avatar-icon>
                </div>
                <div class="flex flex-col gap-10">
                    <div class="flex flex-col items-start">
                        <div class="input-label">Cliente desde</div>
                        <div class="font-[Impact] text-2xl">
                            {{datas.dataInicial | date: 'yyyy'}}
                        </div>
                        <div class="text-xs">{{this.getMes(datas.dataInicial)}}</div>
                    </div>
                </div>
            </div>
            <div>
                <cliente-resumo-chart-concluidos [obrigacoesStat]="obrigacoesStat"></cliente-resumo-chart-concluidos>
            </div>
        </div>
    </ng-template>
</widget>-->
