@if (datas) {
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="tabela">
        <thead>
            <tr>
                <td>Razão Social</td>
                <td>Colaborador</td>
                <td class="hidden md:table-cell">Concluído</td>
                <td class="hidden md:table-cell">No Prazo</td>
                <td class="hidden md:table-cell">Atrasado</td>
            </tr>
        </thead>
        <tbody>
            @for (item of datas; track item; let i = $index) {
            <tr class="cursor-pointer" [routerLink]="['/sistema/obrigacoes/clienteobrigacoes', encryptionService.encrypt(item.id)]" _queryParams="{tab: 0}">
                <td>
                    <div class="flex items-center gap-3">
                        <ng-container *ngTemplateOutlet="statusTemplate; context: {item: item}"></ng-container>
                        <avatar-title _clienteId="item.id" [title]="item.nome" [subTitle]="item.regime ?? 'Regime indefinido'"></avatar-title>
                    </div>
                </td>
                <td class="hidden md:table-cell">
                    <avatar-image-group
                        class="flex-wrap"
                        [usersId]="getUsuariosId(item.users)"
                        [nomes]="getUsuariosNome(item.users)"
                        [size]="'2.2rem'"
                        [showEmptyIcon]="true"
                        [emptyIconTooltip]="'Nenhum funcionário'"
                    ></avatar-image-group>
                </td>
                <td class="hidden md:table-cell">
                    @if (item.obrigacoesStat) {
                    <percentage-bar
                        [done]="item.obrigacoesStat.concluidas"
                        [total]="item.obrigacoesStat.total"
                        [showPercentage]="false"
                        [heightClass]="'h-2'"
                    ></percentage-bar>
                    }
                </td>

                <td class="hidden md:table-cell">
                    @if (item.obrigacoesStat) { {{item.obrigacoesStat.concluidasNoPrazo > 0 ? item.obrigacoesStat.concluidasNoPrazo : '-'}}
                    <!-- {{item.obrigacoesStat.concluidoNoPrazoPorcento > 0 ? item.obrigacoesStat.concluidoNoPrazoPorcento + '%' : ''}}  -->
                    }
                </td>
                <td class="hidden md:table-cell">
                    @if (item.obrigacoesStat) { {{item.obrigacoesStat.emAtraso > 0 ? item.obrigacoesStat.emAtraso : '-'}}
                    <!-- {{item.obrigacoesStat.concluidoNoPrazoPorcento > 0 ? item.obrigacoesStat.concluidoNoPrazoPorcento + '%' : ''}}  -->
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
<ng-template #statusTemplate let-item="item">
    @if (item.obrigacoesStat) {
    <!-- #region Tudo concluído no prazo -->
    @if (item.obrigacoesStat.concluidasNoPrazo == item.obrigacoesStat.total) {
    <avatar-icon [icon]="'ionCheckmarkDone'" [tooltip]="'Tudo concluído no prazo'" [size]="'2.2rem'" [bgColor]="'bg-green-200 dark:bg-green-800'"></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Ao menos uma obrigação fora do prazo -->
    @if (item.obrigacoesStat.concluidas == item.obrigacoesStat.total && item.obrigacoesStat.concluidasForaDoPrazo > 0) {
    <avatar-icon
        [icon]="'ionCheckmarkSharp'"
        [tooltip]="'Tem obrigações concluídas fora do prazo'"
        [size]="'2.2rem'"
        [bgColor]="'bg-green-200 dark:bg-green-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Ao menos uma obrigação em aberto   -->
    @if (item.obrigacoesStat.concluidas < item.obrigacoesStat.total && item.obrigacoesStat.emAtraso == 0) {
    <avatar-icon [icon]="'bootstrapStop'" [tooltip]="'Tem obrigação em aberto'" [size]="'2.2rem'" [bgColor]="'bg-zinc-200 dark:bg-zinc-800'"></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Ao menos uma obrigação em aberto vencida -->
    @if (item.obrigacoesStat.concluidas < item.obrigacoesStat.total && item.obrigacoesStat.emAtraso > 0) {
    <avatar-icon
        [icon]="'bootstrapExclamationLg'"
        [tooltip]="'Tem obrigação em atraso'"
        [size]="'2.2rem'"
        [bgColor]="'bg-red-200 dark:bg-red-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->
    }
</ng-template>
