<!-- <card *ngIf="view" class="mb-4 block">
    <ng-template #content>
        <ng-container>
            <div class="flex flex-col gap-10">
                <ng-container *ngIf="!tipo || tipo == TObrigacaoTipo.Imposto">
                    <ng-container *ngTemplateOutlet="tipoTemplate; context: {titulo: 'Impostos', tipo: view.impostos, showingAll: tipo == undefined}"></ng-container>
                </ng-container>
                <ng-container *ngIf="!tipo || tipo == TObrigacaoTipo.Acessoria">
                    <ng-container *ngTemplateOutlet="tipoTemplate; context: {titulo: 'Obrigações Acessórias', tipo: view.acessorias, showingAll: tipo == undefined}"></ng-container>
                </ng-container>
                <ng-container *ngIf="!tipo || tipo == TObrigacaoTipo.Relatorio">
                    <ng-container *ngTemplateOutlet="tipoTemplate; context: {titulo: 'Relatórios', tipo: view.relatorios, showingAll: tipo == undefined}"></ng-container>
                </ng-container>
            </div>
        </ng-container>
    </ng-template>
</card>

<ng-template #tipoTemplate let-titulo="titulo" let-tipo="tipo" let-porcento="porcento" let-showingAll="showingAll">
    <text-separator [text]="titulo" *ngIf="showingAll"></text-separator>
    <div class="flex flex-col gap-x-10 md:flex-row md:gap-y-4">
        <ng-container class="flex-auto" *ngTemplateOutlet="calculoTemplate; context: {titulo: 'Concluído no Prazo', valor: tipo.concluidasNoPrazo, porcento: tipo.concluidoNoPrazoPorcento, total: tipo.total, porcentoBackgroundClass: 'bg-blue-500 dark:bg-blue-900' }"></ng-container>
        <ng-container class="flex-auto" *ngTemplateOutlet="calculoTemplate; context: {titulo: 'Concluído fora do Prazo', valor: tipo.concluidasForaDoPrazo, porcento: tipo.concluidasForaDoPrazoPorcento, total: tipo.total, porcentoBackgroundClass: 'bg-orange-500 dark:bg-orange-900' }"></ng-container>
        <ng-container class="flex-auto" *ngTemplateOutlet="calculoTemplate; context: {titulo: 'Atrasado', valor: tipo.emAtraso, porcento: tipo.emAtrasoPorcento, total: tipo.total, porcentoBackgroundClass: 'bg-red-500 dark:bg-red-900' }"></ng-container>
        <ng-container class="flex-auto" *ngTemplateOutlet="calculoTemplate; context: {titulo: 'Em Aberto', valor: tipo.emAberto, porcento: tipo.emAbertoPorcento, total: tipo.total, porcentoBackgroundClass: 'bg-zinc-200 dark:bg-zinc-800' }"></ng-container>
    </div>
</ng-template>

<ng-template #calculoTemplate let-titulo="titulo" let-valor="valor" let-porcento="porcento" let-total="total" let-porcentoBackgroundClass="porcentoBackgroundClass">
    <div class="flex w-full flex-col gap-1">
        <div class="grow">{{titulo}}</div>
        <percentage-bar [percentage]="porcento" [done]="valor" [barClass]="'w-full'" [multiColor]="false"></percentage-bar>
    </div>
</ng-template> -->
