<div [formGroup]="form">
    <input-select-ex [form]="form" [formControlName]="formControlName" [datas]="datas" [label]="label"></input-select-ex>
</div>

<!--<div [formGroup]="form">
    <nz-select [formControlName]="formControlName" [nzPlaceHolder]="placeholderText" style="display: block !important">
        <nz-option [nzValue]="1" [nzLabel]="'Janeiro'"></nz-option>
        <nz-option [nzValue]="2" [nzLabel]="'Fevereiro'"></nz-option>
        <nz-option [nzValue]="3" [nzLabel]="'Março'"></nz-option>
        <nz-option [nzValue]="4" [nzLabel]="'Abril'"></nz-option>
        <nz-option [nzValue]="5" [nzLabel]="'Maio'"></nz-option>
        <nz-option [nzValue]="6" [nzLabel]="'Junho'"></nz-option>
        <nz-option [nzValue]="7" [nzLabel]="'Julho'"></nz-option>
        <nz-option [nzValue]="8" [nzLabel]="'Agosto'"></nz-option>
        <nz-option [nzValue]="9" [nzLabel]="'Setembro'"></nz-option>
        <nz-option [nzValue]="10" [nzLabel]="'Outubro'"></nz-option>
        <nz-option [nzValue]="11" [nzLabel]="'Novembro'"></nz-option>
        <nz-option [nzValue]="12" [nzLabel]="'Dezembro'"></nz-option>
    </nz-select>
</div>-->
