<!--<div class="link pb-3 pt-10">
    <avatar-with-descriptions *ngIf="perfilItem" class="px-4 py-3" [icon]="'iconoirNeighbourhood'" [title]="perfilItem.descricao!" [subTitle]="getSubTitle()" [bgClass]="'bg-zinc-400'"></avatar-with-descriptions>
</div>

<div *ngFor="let item of datas" class="sidebar pt-2">
    <a [routerLink]="['/sistema/clientes/cliente', getEnc(item.id)]" [queryParams]="{pi: getEncryptedId(perfilItem.id!), q: searchText}" routerLinkActive="active" class="link allowed">
        <avatar-with-descriptions class="px-4 py-3" [avatarText]="item.nome.substring(0,1)" [title]="item.nome" [subTitle]="'Lucro Presumido'" [bgClass]="'bg-gray-300 dark:bg-gray-700 text-black dark:text-white'"></avatar-with-descriptions>
    </a>
</div>

<div class="mb-8 px-4 pt-4" *ngIf="param.pg < param.pgtotal">
    <button nz-button nzType="dashed" nzBlock (click)="onScrollDown()"><ng-icon name="iconoirRefreshDouble" class="text-slate-500 text-xl"></ng-icon></button>
</div>-->
