<div class="relative mb-4">
    <input
        type="text"
        [(ngModel)]="query"
        name="query"
        [placeholder]="'Pesquisar pasta'"
        class="form-input w-full rounded-none bg-gray-100 px-9 sm:bg-transparent sm:pr-4"
        disableautocomplete
    />
    <button type="button" class="absolute inset-0 h-9 w-9 appearance-none ltr:right-auto rtl:left-auto peer-focus:text-primary">
        <ng-icon [name]="'iconoirSearch'" [ngClass]="'mx-auto text-[17px] relative top-[3px] text-black/50 dark:text-white/50'"></ng-icon>
    </button>
</div>

@if (datas && datas.length > 0) {
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="tabela">
        <tbody>
            @for (item of datas; track item; let i = $index) {
            <tr class="cursor-pointer" (click)="folderClick(item)">
                <td>
                    <div class="flex gap-3 items-center">
                        <file-server-image
                            [src]="item.pasta.openFolder ? '/images/icons/folder_open_128.png' : (item.pasta.topFolder ? '/images/icons/folders_128.png' : '/images/icons/folder_128.png')"
                            [width]="32"
                            class="cursor-pointer"
                        ></file-server-image>
                        <div>
                            <div class="font-semibold">{{item.pasta.nome}}</div>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
