@if (cliente) {
<profile2 [title]="cliente.nome" [subTitle]="cliente.regime">
    <ng-template #content>
        <div _class="relative ml-10 flex flex-col items-center gap-4 sm:-top-4 md:-top-6 lg:-top-8 xs:-top-4">
            <div class="my-auto flex w-full flex-col justify-center gap-2 py-6">
                <nz-tabset [nzSelectedIndex]="tabIndex">
                    <nz-tab nzTitle="Resumo">
                        <ng-template nz-tab>
                            <ng-template [ngTemplateOutlet]="resumo"></ng-template>
                        </ng-template>
                    </nz-tab>
                    <nz-tab nzTitle="Dados básicos">
                        <ng-template nz-tab>
                            <div class="flex flex-col gap-y-4">
                                <ng-template [ngTemplateOutlet]="dados"></ng-template>
                                <ng-template [ngTemplateOutlet]="enderecos"></ng-template>
                            </div>
                        </ng-template>
                    </nz-tab>
                    <nz-tab nzTitle="Colaboradores"><ng-template [ngTemplateOutlet]="colaboradores"></ng-template></nz-tab>
                    <nz-tab nzTitle="Perfis"><ng-template [ngTemplateOutlet]="perfis"></ng-template></nz-tab>
                    <!-- <nz-tab nzTitle="Obrigações"><ng-template [ngTemplateOutlet]="obrigacoes"></ng-template></nz-tab> -->
                    <nz-tab nzTitle="Ged"><ng-template [ngTemplateOutlet]="ged"></ng-template></nz-tab>
                    <!-- <nz-tab nzTitle="Senhas"><ng-template [ngTemplateOutlet]="senhas"></ng-template></nz-tab> -->
                </nz-tabset>
            </div>
        </div>
    </ng-template>
</profile2>
}

<ng-template #resumo>
    <div class="flex gap-3">
        <cliente-desde-widget [data]="'maio de 2010'"></cliente-desde-widget>
        <cliente-arquivos-disponibilizados-widget [count]="34"></cliente-arquivos-disponibilizados-widget>
        <cliente-solicitacoes-atendidas-widget [count]="13"></cliente-solicitacoes-atendidas-widget>
    </div>
    <div class="mt-4 grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 4xl:grid-cols-5"></div>
</ng-template>

<ng-template #dados>
    @if (cliente) {
    <cliente-dados [id]="cliente.id"></cliente-dados>
    }
    <cliente-avatar-edit [clienteId]="cliente.id!"></cliente-avatar-edit>
</ng-template>

<ng-template #enderecos>
    <cliente-enderecos [enderecos]="cliente.enderecos"></cliente-enderecos>
</ng-template>

<ng-template #perfis>
    <cliente-perfis-table [parameters]="clientePerfisParameters"></cliente-perfis-table>
</ng-template>

<!-- <ng-template #obrigacoes>
    <cliente-obrigacoes-table [parameters]="obrigacoesParameters"></cliente-obrigacoes-table>
</ng-template> -->

<ng-template #colaboradores>
    <!--<cliente-resumo-users [users]="cliente.users"></cliente-resumo-users>-->
    <cliente-users-table [parameters]="usersParameter"></cliente-users-table>
</ng-template>

<ng-template #ged>
    <div class="flex gap-3">
        <!-- <ged-plano-contas class="w-[500px]" [parameters]="pastasParameters" (onClick)="planoContasClick($event)"></ged-plano-contas>
        <files-table [parameters]="filesParameters"></files-table> -->
    </div>
</ng-template>

<ng-template #ocorrencias> </ng-template>

<!-- <ng-template #senhas>
    <cliente-senhas [parameters]="clienteSenhasParameter"></cliente-senhas>
</ng-template> -->
