<!--<div class="pt-10">
    <div *ngFor="let item of datas" class="sidebar">
        <a [routerLink]="[link, getEnc(item.id!)]" routerLinkActive="active" class="link allowed">
            <avatar-with-descriptions class="px-4 py-3" [avatarText]="item.descricao.substring(0, 1)" [title]="item.descricao" [bgClass]="'bg-gray-300 dark:bg-gray-700 text-black dark:text-white'"></avatar-with-descriptions>
        </a>
    </div>
</div>

<div class="mb-8 px-4 pt-4" *ngIf="param.pg < param.pgtotal">
    <button nz-button nzType="dashed" nzBlock (click)="onScrollDown()"><ng-icon name="iconoirRefreshDouble" class="text-slate-500 text-xl"></ng-icon></button>
</div>-->
