<div class="w-full">
    <!-- Banner -->
    <div class="h-32 w-full bg-cover bg-center shadow relative">
        <div class="h-32 w-full bg-cover bg-center shadow relative" [style.background-image]="'url(' + background + ')'">
            <!-- <div class="absolute inset-0 bg-gradient-to-b from-white-light to-black"></div> -->
        </div>

        <!-- Profile Info Card -->
        <div class="relative -mt-12 px-6">
            <div class="bg-[#fafafa] dark:bg-[#0b0b0b] rounded-none p-4 flex flex-col sm:flex-row sm:items-center sm:justify-between">
                <!-- Left Section: Photo + Details -->
                <div class="flex items-center gap-4">
                    @if (funcionarioId) {
                    <avatar-image [funcionarioId]="funcionarioId" [defaultNoIconName]="title" [size]="'80px'"></avatar-image>
                    } @else { @if (userId) {
                    <avatar-image [userId]="userId"></avatar-image>
                    } }
                    <!-- @if (url) {
                <img [src]="url" class="w-20 h-20 rounded-none border-2 border-white shadow -mt-10 sm:mt-0" />
                } -->
                    <div>
                        <h2 class="text-lg font-semibold text-gray-900">{{ title }}</h2>
                        @if (subTitle || subTitleTemplate) { @if (isString(subTitle)) {
                        <p class="text-gray-500 text-xs">{{ subTitle }}</p>
                        } } @if (!isString(subTitle) && subTitleTemplate) {
                        <ng-container *ngTemplateOutlet="subTitleTemplate"></ng-container>
                        }
                    </div>
                </div>

                @if (buttons) {
                <div class="flex gap-2 mt-3 sm:mt-0">
                    <ng-container [ngTemplateOutlet]="buttons"></ng-container>
                </div>
                }
                <!-- Right Section: Buttons -->
                <!-- <div class="flex gap-2 mt-3 sm:mt-0">
                <button class="px-3 py-1.5 rounded-lg bg-blue-600 text-white text-sm font-medium hover:bg-blue-700 transition">Follow</button>
                <button class="px-3 py-1.5 rounded-lg bg-gray-100 text-gray-700 text-sm font-medium hover:bg-gray-200 transition">Message</button>
            </div> -->
            </div>
        </div>

        <div class="mt-6 pl-8 pr-6">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </div>
    </div>
</div>
