<div class="flex flex-col">
  @if (label) {
    <label class="input-label mb-1.5 block">{{ label }}</label>
  }
  <div class="flex w-full">
    <div class="w-full rounded-md px-3.5 py-2" [ngClass]="bgClass" [class]="info || infoContent ? 'flex-auto' : 'flex-none'" [style.min-width.px]="minWidth">{{text}}</div>
    @if (info || infoContent) {
      <div class="flex-none p-2">
        @if (info) {
          <span class="text-black/40 dark:text-white/40">{{info}}</span>
        }
        @if (infoContent) {
          <ng-container [ngTemplateOutlet]="infoContent">
          </ng-container>
        }
      </div>
    }
  </div>
</div>
