<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="table">
        <tbody>
            @for (item of datas; track item; let i = $index) {
            <tr>
                <td>
                    <div class="flex items-center gap-3">
                        @if (!funcionarioId) {
                        <avatar-image [funcionarioId]="item.funcionarioId" [userId]="item.postUserId ?? item.userId" [circle]="true" />
                        } @if (funcionarioId) {
                        <avatar-image [funcionarioId]="item.userId == undefined ? item.funcionarioId : undefined" [userId]="item.userId" [circle]="true" />
                        }

                        <div>
                            <div [innerHTML]="item.html"></div>
                            <div class="text-white-dark text-xs">{{item.dataHoraFormat}}</div>
                        </div>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
