@if (isButton) {
<button class="btn btn-gray-outline rounded-lg py-1 px-3" (click)="enabled && buttonClick()">
    <div class="flex items-center justify-between gap-3">
        @if (icon && buttonLeftAlign) {
        <div>
            <ng-icon [name]="icon" [ngClass]="iconClass" class="top-[3px] relative align-text-top font-bold"></ng-icon>
        </div>
        }
        <div>{{text}}</div>
        @if (showSeparator) {
        <div class="ml-3 mr-2 flex flex-col justify-center">
            <div class="h-[10px] w-[1px] bg-slate-800 dark:bg-slate-200"></div>
        </div>
        } @if (icon && !buttonLeftAlign) {
        <div>
            <ng-icon [name]="icon" [ngClass]="iconClass" class="top-[3px] relative align-text-top font-bold"></ng-icon>
        </div>
        }
    </div>
</button>
} @if (!isButton) {
<a (click)="enabled && buttonClick()" [class.disabled]="!enabled" aria-disabled="{{ !enabled }}" [attr.tabindex]="!enabled ? -1 : 0">
    @if (buttonLeftAlign && !showChevron) {
    <div class="flex items-center gap-2">
        <div class="flex items-center" [ngClass]="backgroundIconCss ? 'h-8 w-8 justify-center ' + backgroundIconCss : ''">
            @if (icon) {
            <ng-icon [name]="icon" [ngClass]="iconClass"></ng-icon>
            }
        </div>
        <div>{{text}}</div>
    </div>
    } @if (!buttonLeftAlign || showChevron) {
    <div class="flex items-center" [ngClass]="{'gap-2': !showChevron, 'gap-1': showChevron}">
        <span>{{text}}</span>
        <div class="flex items-center">
            @if (icon) {
            <ng-icon class="text-right" [name]="icon" [ngClass]="iconClass"></ng-icon>
            } @else { @if (showChevron) {
            <ng-icon [name]="'ionChevronForwardSharp'"></ng-icon>
            } }
        </div>
    </div>
    }
</a>
}
