<!--<div class="form-control" [formGroup]="form">
    <label *ngIf="label" class="text-gray-700 mb-2 block text-xs font-bold uppercase tracking-wide">{{ label }}</label>

    <nz-select [formControlName]="formControlName" [nzPlaceHolder]="placeholderText" style="display: block !important">
        <nz-option [nzValue]="0" [nzLabel]="'Informe de Rendimentos'"></nz-option>
        <nz-option [nzValue]="1" [nzLabel]="'Férias'"></nz-option>
        <nz-option [nzValue]="1" [nzLabel]="'Sped Fiscal'"></nz-option>
    </nz-select>
</div>-->
