<modal-base [title]="'Novo Perfil'">
    <ng-template #modalContent>
        <div class="flex flex-col gap-y-4">
            <form [formGroup]="firstFormGroup" *ngIf="firstFormGroup" class="flex flex-col flex-wrap gap-x-2 gap-y-4 md:flex-row">
                <input-ex class="w-full" [formControlName]="'descricao'" [form]="firstFormGroup" [label]="'Nome'"></input-ex>

                <input-textarea-ex class="w-full" [form]="firstFormGroup" formControlName="comentario" [label]="'Comentário opcional'"></input-textarea-ex>

                <button type="button" [disabled]="!firstFormGroup.valid" class="button btn-primary w-full text-white md:w-36" (click)="submit()">
                    Salvar
                </button>
            </form>
        </div>
    </ng-template>
</modal-base>
