<modal-base [title]="title" [subTitle]="subTitle">
    <ng-template #modalContent>
        @if (obrigacao) {
        <div class="flex flex-col gap-3">
            <!--#region Descrição-->
            <label-text [text]="obrigacao.obrigacaoDescricao" [label]="'Obrigação'"></label-text>
            <!--#endregion-->

            <!--#region Competencia-->
            <label-text [text]="obrigacao.competenciaMesFormat ?? obrigacao.competenciaAno" [label]="'Competência'"></label-text>
            <!--#endregion-->

            <!--#region Vencimento-->
            @if (obrigacao.vencimento) {
            <label-text [text]="obrigacao.vencimento! | date: 'dd/MM/yyyy'" [label]="'Vencimento'">
                <ng-template #textComplement>
                    <label-icon
                        [icon]="obrigacao.vencido ? 'iconoirWarningCircle' : undefined"
                        [label]="obrigacao.vencimentoDescricao"
                        [iconColorClass]="'text-danger'"
                        [iconTextClass]="'text-lg'"
                        [labelClass]="'text-sm' + (obrigacao.vencido ? ' text-danger': '')"
                        [iconBgClass]="''"
                    ></label-icon>
                    <!-- <span class="text-danger" [class]="'text-sm' + (obrigacao.vencido ? ' text-danger': '')">{{obrigacao.vencimentoDescricao}}</span> -->
                </ng-template>
            </label-text>
            }
            <!--#endregion-->

            <!--#region Prazo-->
            <label-text [text]="obrigacao.prazo | date: 'dd/MM/yyyy'" [label]="'Prazo de Entrega'">
                <ng-template #textComplement>
                    <label-icon
                        [icon]="obrigacao.prazoVencido ? 'iconoirWarningCircle' : undefined"
                        [label]="obrigacao.prazoDescricao"
                        [iconColorClass]="'text-danger'"
                        [iconTextClass]="'text-lg'"
                        [labelClass]="'text-sm' + (obrigacao.prazoVencido ? ' text-danger': '')"
                        [iconBgClass]="''"
                    ></label-icon>
                    <!-- <span class="text-danger" [class]="'text-sm' + (obrigacao.prazoVencido ? ' text-danger': '')">{{obrigacao.prazoDescricao}}</span> -->
                </ng-template>
            </label-text>
            <!--#endregion-->

            <!--#region Perfil-->
            @if (obrigacao.perfilItemDescricao) {
            <label-text [text]="obrigacao.perfilItemDescricao" [label]="'Perfil'"></label-text>
            }
            <!--#endregion-->

            <!--#region Status-->
            @if (obrigacao.status != TObrigacaoStatus.EmAberto) {
            <label-icon
                [iconBgClass]="getStatusDescricaoClass()"
                [iconTextClass]="'text-lg'"
                [icon]="getStatusIcon()"
                [circle]="true"
                [label]="obrigacao.statusDescricao"
                [label2]="obrigacao.concluidoEmFormat"
            ></label-icon>
            }
            <!--#endregion-->

            <!--#region Conclusao -->
            @if (obrigacao.status == TObrigacaoStatus.EmAberto) {
            <button-default [bgClass]="'btn-blue'" [text]="'Concluir Obrigação'" (click)="openObrigacaoConclusaoModal()"></button-default>
            }
            <!-- #endregion -->

            <!--#region Responsaveis-->
            <div>
                <text-separator [text]="'Responsáveis'"></text-separator>
                <avatar-image-vertical-group
                    [circle]="true"
                    [size]="'2.8rem'"
                    [usersId]="getUserIds(obrigacao.users)"
                    [nomes]="getUserNomes(obrigacao.users)"
                    [subTitles]="getUserDepartamentos(obrigacao.users)"
                ></avatar-image-vertical-group>
            </div>
            <!--#endregion-->

            <!--#region Arquivos-->
            <div>
                <text-separator [text]="'Arquivos'"></text-separator>
                <obrigacao-item-arquivos [arquivos]="obrigacao.arquivos" [showAvatar]="true"></obrigacao-item-arquivos>
            </div>
            <!--#endregion-->

            <!--#region Comments-->
            <div>
                <text-separator [text]="'Comentários'"></text-separator>
                <timeline-comments [comments]="obrigacao.comments" [showResponder]="true" (onNewCommentClick)="commentsNewComment($event)"></timeline-comments>

                <timeline-comment-form
                    class="flex items-center gap-1 py-4"
                    (onCommented)="commented($event)"
                    _onEvaluated="evaluated($event)"
                    [parameter]="{origemId: obrigacao.id, tipo: TPostTipo.ContabilObrigacaoClientePeriodo, clienteId: obrigacao.clienteId, contabil_ObrigacaoNome: obrigacao.obrigacaoDescricao, contabil_Vencimento: obrigacao.vencimento, contabil_Prazo: obrigacao.prazo, contabil_CompetenciaMes: obrigacao.competenciaMes, contabil_CompetenciaAno: obrigacao.competenciaAno}"
                    [newComment]="newComment"
                ></timeline-comment-form>
            </div>
            <!--#endregion-->
        </div>
        }
    </ng-template>
</modal-base>
