<modal-base [title]="title" [subTitle]="subTitle">
    <ng-template #modalContent>
        @if (obrigacao) {
        <!-- <div class="card-header flex gap-3 p-2.5 text-sm font-medium sm:p-4">
                <div class="flex w-full items-center space-x-3">
                    @if (obrigacaoClientePeriodoPor == TObrigacaoClientePeriodoPor.PorObrigacao || obrigacaoClientePeriodoPor ==
                    TObrigacaoClientePeriodoPor.PorUser) {
                    <avatar-title [clienteId]="obrigacao.clienteId" [title]="obrigacao.clienteNomeFormat" [subTitle]="'Lucro Presumido'"></avatar-title>
                    } @if (obrigacaoClientePeriodoPor == TObrigacaoClientePeriodoPor.PorCliente) {
                    <avatar-image-esfera
                        [parameter]="{esfera: obrigacao.esfera, uf: obrigacao.uf, municipioCodigo: obrigacao.municipioCodigo}"
                        class="flex items-center justify-center"
                    ></avatar-image-esfera>
                    <div class="grow">
                        <div class="mb-0 flex w-full">
                            <h5 class="grow">{{obrigacao.obrigacaoDescricao}}</h5>
                        </div>
                        <div class="flex gap-3">
                            @if (obrigacao.tipoDescricao) {
                            <span class="text-xs">{{obrigacao.tipoDescricao}} {{obrigacao.periodicidadeDescricao}}</span>
                            } @if (obrigacao.esferaDescricao) {
                            <span class="text-xs">{{obrigacao.esferaDescricao}}</span>
                            } @if (obrigacao.departamentoNome) {
                            <span class="text-xs">{{obrigacao.departamentoNome}}</span>
                            }
                        </div>
                    </div>
                    }
                </div>
                @if (isDebug) {
                <span class="debug">#{{obrigacao.id}}</span>
                }
            </div> -->

        <div class="flex flex-col gap-3">
            <!--#region Competencia-->
            <label-text [text]="obrigacao.competenciaMesFormat ?? obrigacao.competenciaAno" [label]="'Competência'"></label-text>
            <!--#endregion-->

            <!--#region Vencimento-->
            @if (obrigacao.vencimento) {
            <label-text [text]="obrigacao.vencimento! | date: 'dd/MM/yyyy'" [label]="'Vencimento'">
                <ng-template #textComplement>
                    <label-icon
                        [icon]="obrigacao.vencido ? 'iconoirWarningCircle' : undefined"
                        [label]="obrigacao.vencimentoDescricao"
                        [iconColorClass]="'text-danger'"
                        [iconTextClass]="'text-lg'"
                        [labelClass]="'text-sm' + (obrigacao.vencido ? ' text-danger': '')"
                        [iconBgClass]="''"
                    ></label-icon>
                    <!-- <span class="text-danger" [class]="'text-sm' + (obrigacao.vencido ? ' text-danger': '')">{{obrigacao.vencimentoDescricao}}</span> -->
                </ng-template>
            </label-text>
            }
            <!--#endregion-->

            <!--#region Prazo-->
            <label-text [text]="obrigacao.prazo | date: 'dd/MM/yyyy'" [label]="'Prazo de Entrega'">
                <ng-template #textComplement>
                    <label-icon
                        [icon]="obrigacao.prazoVencido ? 'iconoirWarningCircle' : undefined"
                        [label]="obrigacao.prazoDescricao"
                        [iconColorClass]="'text-danger'"
                        [iconTextClass]="'text-lg'"
                        [labelClass]="'text-sm' + (obrigacao.prazoVencido ? ' text-danger': '')"
                        [iconBgClass]="''"
                    ></label-icon>
                    <!-- <span class="text-danger" [class]="'text-sm' + (obrigacao.prazoVencido ? ' text-danger': '')">{{obrigacao.prazoDescricao}}</span> -->
                </ng-template>
            </label-text>
            <!--#endregion-->

            <!--#region Perfil-->
            <label-text [text]="obrigacao.perfilItemDescricao" [label]="'Perfil'"></label-text>
            <!--#endregion-->

            <!--#region Responsaveis-->
            <avatar-image-vertical-group
                [label]="'Responsáveis'"
                [circle]="false"
                [size]="'2.8rem'"
                [usersId]="getUserIds(obrigacao.users)"
                [nomes]="getUserNomes(obrigacao.users)"
                [subTitles]="getUserDepartamentos(obrigacao.users)"
            ></avatar-image-vertical-group>
            <!--#endregion-->

            <!--#region Status-->
            @if (obrigacao.status != TObrigacaoStatus.EmAberto) {
            <label-icon
                [iconBgClass]="getStatusDescricaoClass()"
                [iconTextClass]="'text-lg'"
                [icon]="getStatusIcon()"
                [label]="obrigacao.statusDescricao"
                [label2]="obrigacao.concluidoEmFormat"
                [rounded]="true"
            ></label-icon>
            }
            <!--#endregion-->

            <!--#region Arquivos-->
            @if (obrigacao.arquivos.length > 0) {
            <obrigacao-item-arquivos
                class="flex gap-4 border-t border-gray-100 p-2.5 font-normal dark:border-slate-700/40 sm:p-4"
                [arquivos]="obrigacao.arquivos"
            ></obrigacao-item-arquivos>
            }
            <!--#endregion-->

            <!--#region Comments-->
            <div class="mt-4">
                <text-separator [text]="'Comentários'"></text-separator>
                <timeline-comments [comments]="obrigacao.comments" [showResponder]="true" (onNewCommentClick)="commentsNewComment($event)"></timeline-comments>

                <timeline-comment-form
                    class="flex items-center gap-1 py-4"
                    (onCommented)="commented($event)"
                    _onEvaluated="evaluated($event)"
                    [parameter]="{origemId: obrigacao.id, tipo: TPostTipo.ContabilObrigacaoClientePeriodo, clienteId: obrigacao.clienteId, contabil_ObrigacaoNome: obrigacao.obrigacaoDescricaoFormat, contabil_Vencimento: obrigacao.vencimento, contabil_Prazo: obrigacao.prazo, contabil_CompetenciaMes: obrigacao.competenciaMes, contabil_CompetenciaAno: obrigacao.competenciaAno}"
                    [newComment]="newComment"
                ></timeline-comment-form>
            </div>
            <!--#endregion-->
        </div>
        }
    </ng-template>
</modal-base>
