<div class="flex flex-col gap-y-4">
    <card [title]="'Dados Básicos'">
        <ng-template #content>
            <form *ngIf="perfilItem && firstFormGroup" [formGroup]="firstFormGroup">
                <div class="flex flex-col gap-y-4">
                    <input-ex class="w-full md:w-144" [formControlName]="'descricao'" [form]="firstFormGroup" [label]="'Nome'"></input-ex>

                    @if (firstFormGroup.dirty) {
                    <button type="button" [disabled]="!firstFormGroup.valid" class="button btn-primary w-full md:w-36" (click)="submitFirstFormGroup()">
                        <ng-icon [name]="'iconoirFloppyDisk'" class="mr-2 text-xl"></ng-icon>
                        Salvar
                    </button>
                    }
                </div>
            </form>
        </ng-template>
    </card>
</div>
