@if (datas) {
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="tabela">
        <thead>
            <tr>
                <td>Razão Social</td>
                <td class="hidden md:table-cell">Colaborador</td>
                <td class="hidden md:table-cell">No Prazo</td>
                <td class="hidden md:table-cell">Fora do Prazo</td>
                <td class="hidden md:table-cell">Atrasado</td>
                <td class="hidden md:table-cell">Em Aberto</td>
                <td class="hidden md:table-cell">Concluído/Total</td>
            </tr>
        </thead>
        <tbody>
            @for (item of datas; track item; let i = $index) {
            <tr class="cursor-pointer" [routerLink]="['/sistema/obrigacoes/obrigacaoobrigacoes', encryptionService.encrypt(item.id)]">
                <td>
                    <div class="flex items-center gap-3">
                        <ng-container *ngTemplateOutlet="statusTemplate; context: {item: item}"></ng-container>
                        <avatar-title [title]="item.descricao" [subTitle]="item.tipoDescricao"></avatar-title>
                    </div>
                </td>
                <td class="hidden md:table-cell">
                    <avatar-image-group
                        class="flex-wrap"
                        [usersId]="getUsuariosId(item.users)"
                        [nomes]="getUsuariosNome(item.users)"
                        [departamentos]="getDepartamentosNome(item.users)"
                        [size]="'2.2rem'"
                        [showEmptyIcon]="true"
                        [emptyIconTooltip]="'Nenhum colaborador'"
                        [overlap]="true"
                    ></avatar-image-group>
                </td>
                <td class="hidden md:table-cell">
                    @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) { {{item.obrigacoesStat.concluidasNoPrazo | dashIfEmpty}} }
                </td>
                <td class="hidden md:table-cell">
                    @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) { {{item.obrigacoesStat.concluidasForaDoPrazo | dashIfEmpty}} }
                </td>
                <td class="hidden md:table-cell">
                    @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) { {{item.obrigacoesStat.emAtraso | dashIfEmpty}} }
                </td>
                <td class="hidden md:table-cell">
                    @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) { {{item.obrigacoesStat.emAberto | dashIfEmpty}} }
                </td>
                <td class="hidden md:table-cell">
                    @if (item.obrigacoesStat && item.obrigacoesStat.total > 0 && item.obrigacoesStat.concluidas > -1) {
                    <percentage-bar
                        class="block w-32 mt-2"
                        [done]="item.obrigacoesStat.concluidas"
                        [total]="item.obrigacoesStat.total"
                        [showPercentage]="false"
                        [heightClass]="'h-2'"
                    ></percentage-bar>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
<ng-template #statusTemplate let-item="item">
    @if (item.obrigacoesStat) {
    <!-- #region Tudo concluído no prazo -->
    @if (item.obrigacoesStat.concluidasNoPrazo == item.obrigacoesStat.total) {
    <avatar-icon [icon]="'ionCheckmarkDone'" [tooltip]="'Tudo concluído no prazo'" [size]="'2.2rem'" [bgColor]="'bg-green-200 dark:bg-green-800'"></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Ao menos uma obrigação fora do prazo -->
    @if (item.obrigacoesStat.concluidas == item.obrigacoesStat.total && item.obrigacoesStat.concluidasForaDoPrazo > 0) {
    <avatar-icon
        [icon]="'ionCheckmarkSharp'"
        [tooltip]="'Tem obrigações concluídas fora do prazo'"
        [size]="'2.2rem'"
        [bgColor]="'bg-green-200 dark:bg-green-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Ao menos uma obrigação em aberto   -->
    @if (item.obrigacoesStat.concluidas < item.obrigacoesStat.total && item.obrigacoesStat.emAtraso == 0) {
    <avatar-icon [icon]="'bootstrapStop'" [tooltip]="'Tem obrigação em aberto'" [size]="'2.2rem'" [bgColor]="'bg-zinc-200 dark:bg-zinc-800'"></avatar-icon>
    }
    <!-- #endregion -->

    <!-- #region Ao menos uma obrigação em aberto vencida -->
    @if (item.obrigacoesStat.concluidas < item.obrigacoesStat.total && item.obrigacoesStat.emAtraso > 0) {
    <avatar-icon
        [icon]="'bootstrapExclamationLg'"
        [tooltip]="'Tem obrigação em atraso'"
        [size]="'2.2rem'"
        [bgColor]="'bg-red-200 dark:bg-red-800'"
    ></avatar-icon>
    }
    <!-- #endregion -->
    } @else {
    <avatar-icon-empty [tooltip]="'Sem obrigações'"></avatar-icon-empty>
    }
</ng-template>
