<card [title]="'Vencimentos e prazos'">
    <ng-template #content>
        @if ((obrigacao?.tipo == TObrigacaoTipo.Imposto || obrigacao?.tipo == TObrigacaoTipo.Acessoria) && obrigacao?.periodicidade == TPeriodicidade.Mensal) {
        <div class="flex flex-col gap-y-4">
            <div class="flex gap-2">
                <label-text [label]="'Dia do Vencimento'" [text]="obrigacao?.impostoMensal?.vencimentoDia"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Mês do Vencimento'" [text]="obrigacao?.impostoMensal?.periodoMensalDescricao"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Tipo do Dia'" [text]="obrigacao?.impostoMensal?.vencimentoDiaTipoDescricao"></label-text>
                <label-text [label]="'Prazo antes do Vencimento'" [text]="obrigacao?.impostoMensal?.prazoDiaAntesVencimento"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Vencimento em Feriado'" [text]="obrigacao?.impostoMensal?.feriadoTipoDescricao"></label-text>
                <label-text [label]="'Competência Inicial'" [text]="obrigacao?.impostoMensal?.competenciaInicialFormat"></label-text>
            </div>
        </div>
        } @if ((obrigacao?.tipo == TObrigacaoTipo.Imposto || obrigacao?.tipo == TObrigacaoTipo.Acessoria) && obrigacao?.tipo == TObrigacaoTipo.Imposto &&
        obrigacao?.periodicidade == TPeriodicidade.Anual) {
        <div class="flex flex-col gap-y-4">
            <div class="flex gap-2">
                <label-text [label]="'Dia do Vencimento'" [text]="obrigacao?.impostoAnual?.vencimentoDia"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Ano do Vencimento'" [text]="obrigacao?.impostoAnual?.periodoAnualDescricao"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Mês do Vencimento'" [text]="getMesDescricao(obrigacao?.impostoAnual?.vencimentoMes! - 1)"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Tipo do Dia'" [text]="obrigacao?.impostoAnual?.vencimentoDiaTipoDescricao"></label-text>
                <label-text [label]="'Prazo antes do Vencimento'" [text]="obrigacao?.impostoAnual?.prazoDiaAntesVencimento!"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Vencimento em Feriado'" [text]="obrigacao?.impostoAnual?.feriadoTipoDescricao"></label-text>
                <label-text [label]="'Competência Inicial'" [text]="obrigacao?.impostoAnual?.competenciaAnoInicial!"></label-text>
            </div>
        </div>
        } @if (obrigacao?.tipo == TObrigacaoTipo.Relatorio && obrigacao?.periodicidade == TPeriodicidade.Mensal) {
        <div class="flex flex-col gap-y-4">
            <div class="flex gap-2">
                <label-text [label]="'Dia do Prazo'" [text]="obrigacao?.relatorioMensal?.prazoDia"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Mês do Vencimento'" [text]="obrigacao?.relatorioMensal?.periodoMensalDescricao"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Tipo do Prazo'" [text]="obrigacao?.relatorioMensal?.prazoDiaTipo!"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Vencimento em Feriado'" [text]="obrigacao?.relatorioMensal?.feriadoTipoDescricao"></label-text>
                <label-text [label]="'Competência Inicial'" [text]="obrigacao?.relatorioMensal?.competenciaInicialFormat"></label-text>
            </div>
        </div>
        } @if (obrigacao?.tipo == TObrigacaoTipo.Relatorio && obrigacao?.periodicidade == TPeriodicidade.Anual) {
        <div class="flex flex-col gap-y-4">
            <div class="flex gap-2">
                <label-text [label]="'Dia do Prazo'" [text]="obrigacao?.relatorioAnual?.prazoDia"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Ano do Prazo'" [text]="obrigacao?.relatorioAnual?.periodoAnual"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Mês do Vencimento'" [text]="obrigacao?.relatorioAnual?.prazoMes"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Tipo do Dia'" [text]="obrigacao?.relatorioAnual?.prazoDiaTipoDescricao"></label-text>
            </div>
            <div class="flex gap-2">
                <label-text [label]="'Vencimento em Feriado'" [text]="obrigacao?.relatorioAnual?.feriadoTipoDescricao"></label-text>
                <label-text [label]="'Competência Inicial'" [text]="obrigacao?.relatorioAnual?.competenciaAnoInicial!"></label-text>
            </div>
        </div>
        }
    </ng-template>
    <ng-template #footer>
        <button-default [bgClass]="'btn-gray'" (click)="editModal()" [text]="'Editar'"></button-default>
    </ng-template>
</card>
