<div class="mb-4">
    <button-default (click)="perfilAssociarOpen()" [bgClass]="'btn-primary'" [text]="'Novo Perfil'"> </button-default>
</div>

@if (loading) {
<nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
} @else { @if (datas && datas.length == 0) {
<no-data-panel [title]="'Nenhuma perfil'"></no-data-panel>
} @else {

<table class="tabela">
    <thead>
        <tr>
            <td>Perfil</td>
            <td class="hidden md:table-cell">Obrigações</td>
        </tr>
    </thead>
    <tbody>
        @for (item of datas; track item; let i = $index) {
        <tr (click)="clientePerfilObrigacoesModalOpen(item.perfilItemId, item.descricao)">
            <td>
                <avatar-title class="cursor-pointer" [title]="item.descricao" _avatarFileName="item.avatarFileName"></avatar-title>
            </td>
            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat) {
                <span>{{item.obrigacoesStat.total}}</span>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
} }
