@if (datas) {
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="table">
        <thead>
            <tr>
                <td><div>Razão Social</div></td>
                <td class="hidden md:table-cell"><div>Cnpj</div></td>
            </tr>
        </thead>
        <tbody>
            @for (item of datas; track item; let i = $index) {
            <tr class="cursor-pointer" [routerLink]="['/sistema/clientes/cliente', encryptionService.encrypt(item.id)]" [queryParams]="{tab: 0}">
                <td>
                    <avatar-title [clienteId]="item.id" [title]="item.nome" [subTitle]="item.regime ?? 'Regime indefinido'" [circle]="true"></avatar-title>
                </td>
                <td class="hidden md:table-cell">{{item.cnpjFormat}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
