@if (datas) {
<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()">
    <table class="table">
        <thead>
            <tr>
                <td><div>NOME</div></td>
                <td class="hidden text-center md:table-cell"><div>Obrigações</div></td>
                <td class="hidden text-center md:table-cell"><div>Concluído</div></td>
                <td class="hidden text-center md:table-cell"><div>Atraso</div></td>
            </tr>
        </thead>
        <tbody>
            @for (item of datas; track item; let i = $index) {
            <tr class="cursor-pointer" [routerLink]="['/sistema/clientes/cliente', encryptionService.encrypt(item.id)]" [queryParams]="{tab: 0}">
                <td>
                    <avatar-title [clienteId]="item.id" [title]="item.nome" [subTitle]="item.regime ?? 'Regime indefinido'" [circle]="true"></avatar-title>
                </td>
                <td class="ponto-extra hidden text-center md:table-cell">
                    <span class="ponto-extra tag tag-blue-outline inline-block w-20">{{ item.obrigacoesStat?.total }}</span>
                </td>
                <td class="ponto-atraso hidden text-center md:table-cell">
                    <span class="ponto-atraso tag tag-green-outline inline-block w-20">{{ item.obrigacoesStat?.concluidoPorcento }}</span>
                </td>
                <td class="hidden text-center md:table-cell">
                    <span class="ponto-atraso tag tag-red-outline inline-block w-20">{{ item.obrigacoesStat?.emAtraso }}</span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
