<div [formGroup]="form" class="space-y-4">
    @if (label) {
    <label class="input-label block">{{ label }}</label>
    }
    <div>
        <!-- CEP -->
        <input-ex [form]="form" [formControlName]="'cep'" [label]="'CEP'" [placeholderText]="'Digite o CEP'" mask="cep"></input-ex>
    </div>
    <div class="grid grid-cols-12 gap-3">
        <!-- Logradouro -->
        <div class="col-span-9 md:col-span-9">
            <input-ex [form]="form" [formControlName]="'logradouro'" [label]="'Logradouro'" [placeholderText]="'Logradouro'"></input-ex>
        </div>

        <!-- Número -->
        <div class="col-span-3 md:col-span-3">
            <input-ex [form]="form" [formControlName]="'numero'" [label]="'Número'"></input-ex>
        </div>
    </div>

    <!-- Complemento -->
    <div>
        <input-ex [form]="form" [formControlName]="'complemento'" [label]="'Complemento'" [placeholderText]="'Complemento (opcional)'"></input-ex>
    </div>

    <!-- Bairro -->
    <div>
        <input-ex [form]="form" [formControlName]="'bairro'" [label]="'Bairro'" [placeholderText]="'Bairro'"></input-ex>
    </div>
    <div class="grid grid-cols-12 gap-3">
        <!-- Estado -->
        <div class="col-span-3">
            @if (viaCepAvailable) {
            <input-ex [form]="form" [formControlName]="'uf'" [label]="'Estado'" [placeholderText]="'UF'"></input-ex>
            } @else {
            <uf-select [form]="form" [formControlName]="'uf'" [label]="'Estado'" (onSelected)="ufSelected($event)"></uf-select>
            }
        </div>

        <!-- Cidade -->
        <div class="col-span-9">
            @if (viaCepAvailable) {
            <input-ex [form]="form" [formControlName]="'municipioTexto'" [label]="'Cidade'" [placeholderText]="'Cidade'"></input-ex>
            <!-- <input-ex [form]="form" [formControlName]="'municipioCodigo'" [label]="'Ibge'" [placeholderText]="'Código do Município'"></input-ex> -->
            } @else {
            <municipio-select [form]="form" [formControlName]="'municipioCodigo'" [label]="'Cidade'" [parameters]="municipioParameter"></municipio-select>
            }
        </div>
    </div>
</div>
