<div [formGroup]="form">
    @if (label) {
    <label class="input-label mb-1.5 block">{{ label }}</label>
    }
    <nz-select
        nzShowSearch
        nzAllowClear
        class="w-full"
        [formControlName]="formControlName"
        (nzScrollToBottom)="onScrollDown()"
        [nzServerSearch]="true"
        (ngModelChange)="onUserSelect($event)"
    >
        @for(data of datas; track data) {
        <nz-option [nzLabel]="data.descricao!" nzCustomContent [nzValue]="data.id">
            <avatar-title
                [title]="data.descricao"
                [subTitle]="data.tipoDescricao + (data.esfera == TEsfera.Estadual || data.esfera == TEsfera.Municipal ? ' - ' : '') + (data.municipioNome ?? '') + (data.uf ?? '')"
            ></avatar-title>
        </nz-option>
        }
    </nz-select>
</div>
