<!--<div *ngIf="cliente">
    <div class="flex flex-col gap-4">
        <div class="grid grid-cols-1 gap-5 xl:grid-cols-3">
            <cliente-datas [datas]="{dataInicial: cliente.dataInicial, dataFinal: cliente.dataFinal}" [obrigacoesStat]="cliente.obrigacoesStat"></cliente-datas>
            <cliente-cnpj-cpf [cnpjCpf]="{cnpj: cliente.cnpjFormat, cpf: cliente.cpfFormat}"></cliente-cnpj-cpf>
            <cliente-regime [regime]="{regime: cliente.regime}"></cliente-regime>
            <cliente-resumo-chart [obrigacoesStat]="cliente.obrigacoesStat"></cliente-resumo-chart>
        </div>
    </div>
</div>-->
