<card [title]="'Departamentos'">
    <ng-template #content>
        <div class="flex flex-col gap-3">
            <div class="flex flex-col gap-2">
                @for (item of departamentos; track item) {
                <avatar-title [title]="item.departamentoNome" [avatarSize]="'2rem'"></avatar-title>
                }
            </div>
            <div>
                <button class="button btn-primary" (click)="openUserDepartamentoModal()">Adicionar</button>
            </div>
        </div>
    </ng-template>
</card>
