@if (datas) {
<table class="tabela tabela-border">
    <thead>
        <tr>
            <td>Colaborador</td>
            <!-- <td class="hidden md:table-cell">Concluído</td> -->
            <td class="hidden md:table-cell">No Prazo</td>
            <td class="hidden md:table-cell">Fora do Prazo</td>
            <td class="hidden md:table-cell">Atrasado</td>
            <td class="hidden md:table-cell">Em Aberto</td>
            <td class="hidden md:table-cell">Concluído/Total</td>
        </tr>
    </thead>
    <tbody>
        @for (item of datas; track item; let i = $index) {
        <tr class="cursor-pointer" [routerLink]="['/sistema/obrigacoes/userobrigacoes', encryptionService.encrypt(item.userId)]">
            <td>
                <avatar-title
                    class="cursor-pointer"
                    [debug]="debug ? item.userId : undefined"
                    [title]="item.userNome"
                    [userId]="item.userId"
                    [avatarSize]="'2.5rem'"
                >
                </avatar-title>
            </td>
            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) {
                <value-and-percentage
                    [value]="item.obrigacoesStat.concluidasNoPrazo"
                    [percentage]="item.obrigacoesStat.concluidoNoPrazoPorcento"
                ></value-and-percentage>
                }
            </td>
            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) {
                <value-and-percentage
                    [value]="item.obrigacoesStat.concluidasForaDoPrazo"
                    [percentage]="item.obrigacoesStat.concluidasForaDoPrazoPorcento"
                ></value-and-percentage>
                }
            </td>
            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) {
                <value-and-percentage [value]="item.obrigacoesStat.emAtraso" [percentage]="item.obrigacoesStat.emAtrasoPorcento"></value-and-percentage>
                }
            </td>
            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) {
                <value-and-percentage [value]="item.obrigacoesStat.emAberto" [percentage]="item.obrigacoesStat.emAbertoPorcento"></value-and-percentage>
                }
            </td>
            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat && item.obrigacoesStat.total > 0 && item.obrigacoesStat.concluidas > -1) {
                <percentage-bar
                    class="block w-32 mt-2"
                    [done]="item.obrigacoesStat.concluidas"
                    [total]="item.obrigacoesStat.total"
                    [showPercentage]="false"
                    [heightClass]="'h-2'"
                ></percentage-bar>
                }

                <!-- @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) { {{item.obrigacoesStat.total}} } -->
            </td>
        </tr>
        }
    </tbody>
</table>
}
