@if (users) {
<table class="tabela">
    <thead>
        <tr>
            <td>Razão Social</td>
            <td class="hidden md:table-cell">Concluído</td>
            <td class="hidden md:table-cell">No Prazo</td>
            <td class="hidden md:table-cell">Atrasado</td>
        </tr>
    </thead>
    <tbody>
        @for (item of users; track item; let i = $index) {
        <tr class="cursor-pointer">
            <td>
                <avatar-title class="cursor-pointer" [title]="item.userNome" [userId]="item.userId"> </avatar-title>
            </td>
            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) {
                <percentage-bar
                    [done]="item.obrigacoesStat.concluidas"
                    [total]="item.obrigacoesStat.total"
                    [showPercentage]="false"
                    [heightClass]="'h-2'"
                ></percentage-bar>
                }
            </td>

            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) { {{item.obrigacoesStat.concluidasNoPrazo > 0 ? item.obrigacoesStat.concluidasNoPrazo
                : '-'}}
                <!-- {{item.obrigacoesStat.concluidoNoPrazoPorcento > 0 ? item.obrigacoesStat.concluidoNoPrazoPorcento + '%' : ''}}  -->
                }
            </td>
            <td class="hidden md:table-cell">
                @if (item.obrigacoesStat && item.obrigacoesStat.total > 0) { {{item.obrigacoesStat.emAtraso > 0 ? item.obrigacoesStat.emAtraso : '-'}}
                <!-- {{item.obrigacoesStat.concluidoNoPrazoPorcento > 0 ? item.obrigacoesStat.concluidoNoPrazoPorcento + '%' : ''}}  -->
                }
            </td>
        </tr>
        }
    </tbody>
</table>
}
