<widget [alignVertical]="true">
    @if (obrigacao) {
    <div class="flex">
        <div class="flex grow items-center gap-4">
            @if (obrigacao.vencimentoPrazoDia.vencimentoDia) {
            <div class="flex grow items-center gap-3">
                <div class="border-color flex flex-col items-center gap-0.5 border-r pr-3">
                    <span class="font-[Impact] text-5xl font-bold">{{obrigacao.vencimentoPrazoDia.vencimentoDia}}</span>
                    <span>{{obrigacao.anualMesDescricao}}</span>
                </div>
                <div class="flex flex-col gap-0.5">
                    <span class="text-xs">Vencimento</span>
                    <span>{{obrigacao.vencimentoPrazo.vencimentoFormat}}</span>
                </div>
            </div>
            } @if (obrigacao.vencimentoPrazoDia.prazoDia) {
            <div class="flex grow items-center gap-3">
                <div class="border-color flex flex-col items-center gap-0.5 border-r pr-3">
                    <span class="font-[Impact] text-5xl font-bold">{{obrigacao.vencimentoPrazoDia.prazoDia}}</span>
                    <span>{{obrigacao.anualMesDescricao}}</span>
                </div>
                <div class="flex flex-col gap-0.5">
                    <span class="text-xs">Prazo de Entrega</span><br />
                    <span>{{obrigacao.vencimentoPrazo.prazoFormat}}</span>
                </div>
            </div>
            }
        </div>
        <div>
            <obrigacao-resumo-chart-concluidos [obrigacoesStat]="obrigacao.obrigacoesStat"></obrigacao-resumo-chart-concluidos>
        </div>
    </div>
    }
</widget>
