<div class="flex items-center gap-2 text-gray-500">
    @if (title) {
    <div>{{title}}</div>
    }
    <div class="relative overflow-hidden" [class]="barClass + ' ' + getDefaultClass() + ' ' + heightClass" [ngClass]="{'rounded-full': rounded}">
        <div class="h-full transition-all duration-300" [style.width.%]="getPercentage()" [ngClass]="getBackgroundClass()"></div>
    </div>
    @if (showInfos && done != undefined && total != undefined) {
    <span>{{done}}/{{total}}</span>
    } @if (showInfos && done != undefined && total == undefined) {
    <span>{{done}}</span>
    } @if (showPercentage) {
    <span>{{ getPercentage() }}%</span>
    }
</div>
