<div class="flex items-center gap-2 text-gray-500">
  @if (title) {
    <div>{{title}}</div>
  }
  <div class="relative h-2 w-full overflow-hidden" [class]="barClass + ' ' + getDefaultClass()" [ngClass]="{'rounded-full': rounded}">
    <div class="h-full transition-all duration-300"
      [style.width.%]="getPercentage()"
      [ngClass]="getBackgroundClass()">
    </div>
  </div>
  @if (showInfos && done != undefined && total != undefined) {
    <span class="text-muted">{{done}}/{{total}}</span>
  }
  @if (showInfos && done != undefined && total == undefined) {
    <span class="text-muted">{{done}}</span>
  }
  @if (showPercentage) {
    <span class="text-muted">{{ getPercentage() }}%</span>
  }
</div>
